{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p style="text-align:center">Chcesz usunąć dewelopera: <a
                href="{% url 'developer-delete' developer.id %}">Klik</a></p>
    {% endif %}
    <h1>Developer: {{ developer }} </h1>
    <p>{{ developer.date_of_foundation }}</p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Games</h4>

        <dl>
            {% for game in developer.game_set.all %}
                <p><a href="{% url 'game-detail' game.pk %}">{{ game }}</a> - {{ game.summary }}</p>

            {% endfor %}
        </dl>

    </div>
{% endblock %}
