{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_superuser %}

        <p style="text-align:center">Usunięcie grę: <a href="{% url 'game-delete' game.id %}">Klik</a></p>
        <p style="text-align:center">Edycja gry: <a href="{% url 'game-update' game.id %}">Klik</a></p>

        <p>Current  verf status of the game {{ game.Verified }}</p>
        {% if game.Verified == False %}
            <p style="text-align:center">Oznacz gre jako zweryfikowaną: <a
                    href="{% url 'game-verify' game.id %}">Klik</a></p>
        {% endif %}
        {% if game.Verified == True %}
            <p style="text-align:center">Oznacz gre jako niezweryfikowaną: <a href="{% url 'game-unverify' game.id %}">Klik</a>
            </p>
        {% endif %}

    {% endif %}
    <h1>Title: {{ game.title }}</h1>




    <p><strong>Developer:</strong> <a href="{% url 'developer-detail' game.developer_id %}">{{ game.developer }}</a></p>
    <p><strong>Game genre:</strong> {{ game.genre.all|join:", " }}</p>
    <p><strong>Release Date:</strong> {{ game.date_of_release }}</p>
    <p><strong>Game mode:</strong> {{ game.mode.all|join:", " }}</p>
    <p><strong>Brief summary:</strong> {{ game.summary }}</p>


{% endblock %}
