{% extends 'base_generic.html' %}

{% block content %}

    {% if movie_list %}
        <h1>Movies list</h1>
        <ul>
            {% for movie in movie_list %}
                {% if movie.Verified %}
                    <li>
                        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if user.is_superuser %}
            <h1>Movies to verify</h1>
            <ul>
                {% for movie in movie_list %}
                    {% if not movie.Verified %}
                        <li>
                            <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

    {% else %}
        <p>There are no movies</p>
    {% endif %}
{% endblock %}