{% extends "base_generic.html" %}

{% block content %}

    <h1> {{ series.title }} </h1>
    <div style="width: 500px;">
        {{ series.summary }}
    </div>
    <ul>
        <li>Directors:
            <ul>
                {% for director in series.director.all %}
                    <a href="{{ director.get_absolute_url }}">
                        <li>{{ director }}</li>
                    </a>

                {% endfor %}
            </ul>
        </li>
        <li>Actors:
            <ul>
                {% for actor in series.actors.all %}
                    <a href="{{ actor.get_absolute_url }}">
                        <li>{{ actor }}</li>
                    </a>
                {% endfor %}
            </ul>
        </li>
        <li>Genres:
            <ul>
                {% for genre in series.genre.all %}
                    <li>{{ genre }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Number of seasons: {{ series.number_of_seasons }} </li>
        <li>Language:
            <ul>
                {% for language in series.language.all %}
                    <li>{{ language }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Date of release: {{ series.date_of_release }}</li>
        {% if series.Verified %}
            <li>Status: verified</li>
        {% else %}
            <li>Status: not verified</li>
        {% endif %}
    </ul>
    {% if user.is_superuser %}
        <a href="{% url 'series-delete' pk=series.id %}">
            <button>DELETE SERIES</button>
        </a>
        <br>
        {% if series.Verified %}
            <a href="{% url 'series-unverify' pk=series.id %}">
                <button>UNDO VERIFICATION</button>
            </a>
        {% else %}
            <a href="{% url 'series-verify' pk=series.id %}">
                <button>VERIFY</button>
            </a>
        {% endif %}
        <br>
        <a href="{% url 'series-update' pk=series.id %}">
            <button>UPDATE</button>
        </a>
    {% endif %}

{% endblock %}