{% extends 'base_generic.html' %}

{% block content %}

    {% if series_list %}
        <h1>Series list</h1>
        <ul>
            {% for series in series_list %}
                {% if series.Verified %}
                    <li>
                        <a href="{{ series.get_absolute_url }}">{{ series.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if user.is_superuser %}
            <h1>Series to verify</h1>
                <ul>
                    {% for series in series_list %}
                        {% if not series.Verified %}
                            <li>
                                <a href="{{ series.get_absolute_url }}">{{ series.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
        {% endif %}

    {% else %}
        <p>There are no series</p>
    {% endif %}
{% endblock %}